$white: #ffff;

$blue: #496e9a;
$blue1: #7baac6;

$grey: #63636333;
$grey1: #0000001a;

$black: #000;

$layout: #91a7e1;
$layout1: #8fa7e2;
$layout2: #8da7e3;
$layout3: #8ba8e4;
$layout4: #89a8e5;
$layout5: #84aae6;
$layout6: #7eabe7;
$layout7: #78ade9;
$layout8: #6eb1e1;
$layout9: #65b4e2;
$layout10: #5db7e3;
$layout11: #57bae4;
