.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  user-select: none;
  list-style-type: none;
  top: 0;
  padding: 20px 60px;
  color: white;
  background-image: linear-gradient(
    to right,
    #496e9a,
    #496e9a,
    #496e9a,
    #496e9a,
    #496e9a
  );
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
  transition: background-color 1s ease-in-out;

  ul {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 30px;

    li {
      margin-right: 30px;
      font-weight: lighter;
      font-size: 20px;
      cursor: pointer;

      a {
        text-decoration: none;
        list-style: none;
        color: unset;
      }

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        margin-right: 0px;
        height: 25px;
        width: 35px;
      }
    }
  }
}
